/* 숙소 이미지 디테일 모달창 & 슬라이더 */
#image-container {
  display: flex;
  max-width: 1170px;
  height: 347px;
}

#image-container .large-image-container {
  width: 100%;
  height: 100%;
}

#image-container .large-image {
  width: 100%;
  height:100%;
  cursor: pointer;
  transition: transform 0.3s ease;
}

#image-container .large-image:hover {
  transform: scale(1.05);
  cursor: pointer;
}

#image-container .small-image-grid-container {
  position: relative;
  flex-basis: 80%;
}

#image-container .small-image-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  flex-basis: 80%; /* Takes up 40% of the space */
}

#image-container .small-image {
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: transform 0.3s ease;
  position: relative;
  z-index: 1;
}

#image-container .small-image:hover {
  transform: scale(1.05);
  z-index: 2;
  cursor: pointer;
}

#image-container .button-box{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 8%;
  left:80%;
  transform: translate(-50%);
  grid-column: span 1;
  z-index: 10;
  gap: 2px;

  padding: 8px;
  background-color: rgba(0, 189, 227, 0.4);
  border-radius: 6px;
  font-size: 12px;
  color: #ffff;
  border: none;
  cursor: pointer;
}

#image-container .image-icon{
  background-image: url('/public/images/accommodationlist/Image.png');
  background-size: cover;
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  margin-top: 2px;

}

#image-container .button-box:hover {
  transform: scale(1.05);
  background-color: rgb(186, 245, 255,0.5);
  cursor: pointer;
}

.modal {
  position:absolute;
  top: 20%;
  left: 40%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 60%;
  background-color: white;
}

.large-modal-image {
  width: 30%;
  height: 30%;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.75);
}

.thumbnail-row {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.thumbnail-image {
  width: 80px;
  height: 60px;
  cursor: pointer;
  opacity: 0.6;
}

.thumbnail-image.active {
  border: 2px solid #007bff;
  opacity: 1;
}




/*  숙소 정보 카드  */
#accommodation-detail {
  width: 100%;
  max-width: 1170px;
  /* padding: 20px; */
  background-color: #ffff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

#accommodation-detail .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
 padding: 10px 30px 30px 30px;
}

#accommodation-detail .title-section {
  display: flex;
  flex-direction: column;
  gap: 10px;

}

#accommodation-detail .accommodation-type-container{
  display: flex;
  align-items: center;
}


#accommodation-detail .accommodation-type {
  font-size: 15px;
  margin-right: 10px;
  color: #999;
  margin-top: 4px;
}

#accommodation-detail .stars {
  color: #ffd700;
  font-size: 18px;
  margin-right: 10px;
  box-shadow: #555;
}

#accommodation-detail .accommodation-name{
  color: #52607C;
  font-size: 28px;

}

#accommodation-detail .price-section {
  display: flex;
  font-size: 24px;
  color: #52607C;
  align-items: center;
  margin-top: 10px;
  

}

#accommodation-detail .price-per-night{
margin-left: 10px;
 font-size: 15px;
 color: #999;
}

#content {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

#content .review-section,
#content .services-section,
#content .location-section {
  width: 30%;
  border: 1px solid #eee;
  border-radius: 10px;
  padding: 20px;
  text-align: left;
  display: flex;
  flex-direction: column;
}


#content .review-score-box{
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  justify-content: center;
}

#content .right-arrow-icon-box{
  position: relative;
  width: 130px;
  height: 18px;
}

#content .right-arrow-icon-button{
  border: none;
  background-color: #ffff;
  position: absolute;
  left: 120px;
  background-image: url('/public/images/accommodationlist/Forward.png');
  width: 13px;
  height: 15px;
  background-repeat: no-repeat;

}

#content .right-arrow-icon:hover{
  cursor: pointer;
  transform: scale(1.05);

}

#content .review-score {
  width: 50px;
  height: 21px;
  text-align: center;
  line-height: 190%;
  font-size: 12px;
  font-weight: bold;
  margin-right: 10px;
  color: #ffff;
  border-radius: 35px;
  background-color: #00ACCF;

}

#content .heder-title{
  color: #5C666A;
  font-size: 17px;
  font-weight: 600;
}

#content .review-snippet {
  font-size: 13px;
  color: #555;
  line-height : 1.7;
  
}

#content .quantity-of-review{
  color: #5C666A;
}

#content .heder-title-container{
  display: flex;
}

#content .view-all-facilities-btn{
  border: none;
  margin-left: 130px;
  background-color: #ffff;
  background-image: url('/public/images/accommodationlist/Forward.png');
  width: 13px;
  height: 15px;
  background-repeat: no-repeat;
  
}

#content .view-all-facilities-btn:hover{
  cursor: pointer;
  transform: scale(1.05);

}

#content .services{
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
}

.service-icon {
  background-color: #ffff;
  width: 110px;
  height: 15px;
  font-size: 14px;
  color:#5C666A;
  
}

#content svg{
  margin-right: 8px;
  color: #5C666A;
}

#content .accommodation-address{
  color: #5C666A;
  font-size: 13px;
  background-color: #00ACCF;
}
.location-section p {
  font-size: 14px;
  margin-bottom: 10px;
}

.location-section a {
  color: #007bff;
  text-decoration: none;
}
