:root {
    --main-button-color: rgba(0,172,207,1);
    --main-button-text-color: rgba(255,255,255,1);

    --input-solid-color: rgba(188,188,188,1);
    --input-text-color: rgba(201,201,201,1);
    --mypage-text-color: rgb(92, 91, 91);

    
    --diable-button-color: rgba(157,160,165,1);
    --error-color: rgba(255, 84, 64, 1);
    --dark-gray-title-color: rgba(56,76,96,1);

    --default-color: rgba(35, 45, 66, 1);
}

/* 페이지 css */
#bookinglist-warpper {
    display: flex;
    flex-direction: column;

    width: 800px;
    height: auto;
    border: solid 3px rgb(238, 185, 185);
    border-radius: 10px;

    margin: 10px 15px;
}

