:root {
    --main-button-color: rgba(0,172,207,1);
    --main-button-text-color: rgba(255,255,255,1);

    --input-solid-color: rgba(188,188,188,1);
    --input-text-color: rgba(201,201,201,1);
    --mypage-text-color: rgba(100,100,100,1);

    
    --diable-button-color: rgba(157,160,165,1);
    --error-color: rgba(255, 84, 64, 1);
    --dark-gray-title-color: rgba(56,76,96,1);

    --default-color: rgba(35, 45, 66, 1);
}

/* 페이지 css */
#bookinglist-warpper {
    display: flex;
    flex-direction: column;

    width: min-content;
    height: auto;
    border: solid 1px var(--input-solid-color);
    border-radius: 10px;

    margin: 10px 15px;
}

.bookinglist-box {
    margin: 10px;
}

/* 상단 css */
.bookinglist-list-top-deatail {
    display: flex;
    justify-content: space-between;

    width: 100%;
    min-width: 700px;
    height: 30px;
    
    font-size: 17px;
    font-weight: 600;
    text-shadow: 2px 2px 1px rgb(220, 220, 220)
}

/* 메인내용 css */
.bookinglist-list-main-detail {
    width: auto;
    display: flex;
}
    /* 사진 */
    .bookinglist-list-image {
        width: 120px;
        height: 120px;
        border-radius: 15px;
    }

    .bookinglist-hotel-detail {
        display: flex;
        flex-direction: column;

        margin: 15px 15px;
        width: 300px;
        text-overflow: ellipsis;
    }

        .bookinglist-hotel-title {    
            max-width: 170px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .bookinglist-hotel-room{
            
            margin-top: 15px;
            font-size: 13px;
            color: var(--input-solid-color);
        }

    .bookinglist-detail-list {
        align-items: center;

        width: 100%;

        color: var(--mypage-text-color);
    }

        .bookinglist-stay {
            margin-top: 15px;
        }

        .bookinglist-start-end-time {
            margin: 20px 0px;
            display: flex;
        }

            .bookinglist-end {
                margin-left: 20px;
            }

        .bookinglist-count-cancelbox {
            display: flex;
            justify-content: space-between;
        }