.carousel-container {
    display: flex;
    align-items: center;

    width: 1;
}

.button {
    cursor: pointer;
    width: 45px;
    height: 45px;
}

.left {
    
    position: relative;
    margin-right: 0;
    background-image: url(/public/images/carousel/left.png);
}

.right {
    position: relative;
    margin-left: 0;
    background-image: url(/public/images/carousel/right.png);
}

.image {

    border-radius: 20px;

    width: 180px;
    height: 180px;

    margin: 0px 10px;
}

.image-text {
    margin-top: 5px;
    margin-left: 20px;
    font-size: 17px;
    font-weight: 400;
}