#information-warpper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-left: 40px;
}

/* 타이틀 */
.information-title {
    width: 100%;
    height: 50px;
    font-size: 30px;
}

.information-title-text {
    font-size: 20px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 20px;
}

.information-title-box {
    display: flex;
    align-items: end;
}

.information-title-ditail-username {
    font-size: 17px;
    font-weight: 600;
}

.information-title-ditail {
    font-size: 16px;
    
}

/* 메인내용 */
.information-main {
    width: 100%;
    height: 100%;
    margin-top: 50px;

}

.information-save-button {
    cursor: pointer;
    display: flex;

    margin-top: 40px;
    margin-left: 20px;

    align-items: center;
    justify-content: center;
    width: 200px;
    height: 40px;
    background-color: aqua;

    border: solid 1px rgba(0, 0, 0, 0.1);
              
}
