:root {
  --main-button-color: rgba(0,172,207,1);
  --main-button-text-color: rgba(255,255,255,1);

  --input-solid-color: rgba(188,188,188,1);
  --input-text-color: rgba(201,201,201,1);

  
  --diable-button-color: rgba(157,160,165,1);
  --error-color: rgba(255, 84, 64, 1);
  --dark-gray-title-color: rgba(56,76,96,1);

  --default-color: rgba(35, 45, 66, 1);
}

#main-wrapper {
    display: flex;
    align-items: center;
    flex-direction:column;
    width: 1920px;
    height: 5000px;
  
  }
  
  .wrapper-head {
    position: fixed;
    display: flex;
    justify-content: space-between;
  
    background-color: #FFF;
    
    width: 1800px;
    height: 100px;
  
  }
  
  .logo {
    margin: 30px 50px 0px 100px;
    display: flex;
    justify-content: space-between;
    user-select: none;
  }
  
  .logo-icon {
    margin-right: 10px;
    width: 50px;
    height: 50px;
    background-image: url(../../public/images/Vector.jpg);
  }
  
  .logo-name {
    width: 200px;
    height: 50px;
    font-size: 30px;
  }
  
  .sign {
    margin: 25px 50px 0px 100px;
    display: flex;
    justify-content: space-between;
  }
  
  .sign-in {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 3px #BCBCBC;
    border-radius: 15px;
    margin-right: 15px;
  
    font-size: 20px;
    font-weight: 700;
    color: #BCBCBC;
  
    width: 112px;
    height: 50px;
  
  }
  
  .sign-up-button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 3px #00ACCF;
    background-color: #00ACCF;
    border-radius: 15px;
    margin-right: 15px;
  
    font-size: 20px;
    font-weight: 700;
    color: #FFF;
  
    width: 112px;
    height: 50px;
  }
  
  .main-top {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1600px;
    height: 1000px;
  }
  
  .main-image {
    width: 1600px;
    height: 800px;
    
    margin-top: 130px;
  
    border-radius: 30px;
  
    background-image: url(../../public/images/travel.jpg);
  
  }
  
  .main-search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1500px;
    height: 180px;
    margin-top: -150px;
    margin-left: 50px ;
  
    border: solid 2px var(--input-solid-color);
  
    border-radius: 90px;
    background-color: rgba(255,255,255,1);
  }
  
  .search {
    width: 250px;
    height: 50px;
    margin: 0px 20px;
  
    background-color: var(--input-solid-color);
  }
  
  .search-button {
    width: 200px;
    height: 40px;
  }
  
  .word {
    margin: 10px 20px;
    font-size: 20px;
  }
  
  .btn-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  }

/* 여기서 부터 모달 창 */
