
#dropdownmenu{

    width: 150px;
    height: 50px;
    margin-left: 500px;

} 

#sort{
  
    width: 120px;
    height: 50px;
    border-radius: 5px;
    font-family:'Courier New', Courier, monospace;
    font-weight: 500;
}
