
#room-list-container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;

 
}

#room-list-container .room-list-title{
  color: #52607C;
  font-size: 22px;
  font-weight: 600;

  padding: 50px 0px 20px 10px;

}

#room-list-container .room-list {
  display: flex;
  flex-direction: column;
  gap: 20px;

}

#accommodation-info-section{
  background-color: palegreen;
  display: flex;
}

#accommodation-info-section .accommodation-info {
 
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 5px;
  margin-top: 15px;

}

#accommodation-info-section .accommodation-info-introduction{

  font-weight: 600;
  font-size: 20px;

  margin-bottom: 10px;
}

.toggle-info-btn {
  margin-bottom: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.info-content {
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 5px;
}

.introduction,
.usage-info {
  margin-bottom: 20px;
}

p {
  font-size: 16px;
  line-height: 1.5;
}


.accommodation-info p {
  line-height: 1.6;
}
/* 객실 더보기 버튼 */

#room-list-container .show-more-btn,
.show-less-btn {
  background-color: #ffff;
  color: #52607C;
  border: 1px solid #52607C;
  padding: 10px 20px;
  margin-top: 20px;
  height: 50px;
  cursor: pointer;
  border-radius: 5px;
}

#room-list-container .show-more-btn:hover,
.show-less-btn:hover {
  cursor: pointer;
  transition: transform 0.3s ease;

  background-color: rgba(0, 189, 227, 0.4);
}
