/* 전체 레이아웃 스타일 */
.app-container {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
  }
  
  .content-container {
    display: flex;
    margin-top: 20px;
    padding: 0 20px;
  }
  
  /* 사이드바 스타일 */
  .sidebar {
    width: 300px; 
    padding: 20px;
    background-color: #f8f8f8;
    border-right: 1px solid #e0e0e0;
  }
  
  /* 숙소 리스트 스타일 */
  /* .accommodation-list {
    flex-grow: 1;
    padding: 20px;
  } */
  