#mypageinformation-input-warpper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 450px;
    height: 50px;
    background-color: white;
    margin: 10px 0px 10px 20px;
    font-size: 20px;
}

/* 인풋창 css */
.mypageinformation-input-box {
    
    display: flex;
    justify-content: space-between;
    width: 400px;
}

.mypageinformation-input-inputbox {

    width: 180px;
    height: 35px;

    font-size: 17px;
}

.mypageinformation-input-area{
    display: flex;
    flex-direction: column;
}

.checkMessageError {
    color: red;
    font-size: 13px;


}

/* 버튼창 css */